body {
  margin: 0;
  padding: 0;
  font-family: Sans serif;
  font-size: 18px;
}

header h1 {
  margin: 4vw;
  padding: 0;
}

nav {
  border-bottom: 1px solid #ccc;
}

header a {
  margin-left: 1vw;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1vw;
  background: #fff;
  margin-bottom: -1px;
}

header a.active {
  border-bottom: 2px solid #fff;
}

header a:first-child {
  margin-left: 4vw;
}

.contacts {
  display: flex;
  flex-flow: row;
}
.contacts .contact-list {
  flex: 1 1 250px;
}
.contacts .contact-details {
  flex: 5 3 70%;
}

.contacts .contact-list ul {
  list-style-type: none;
}
.contacts .contact-list ul .is-friend {
  cursor: pointer;
  padding: 0 0.5em;
}
.contacts .contact-list ul a.active {
  color: #000;
  text-decoration: none;
}

form {
  padding: 2em;
}
